<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.quadrastats"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.quadrastats.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Portal.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.quadrastats.models.summoner.Summoner,
            com.quadrastats.models.stats.MatchStats,
            com.quadrastats.models.stats.SeasonStats"/>

        <activity
            android:name="com.quadrastats.screens.authentication.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AuthBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.quadrastats.screens.authentication.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthBackground"/>
        <activity
            android:name="com.quadrastats.screens.authentication.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashBackground"/>
        <activity
            android:name="com.quadrastats.screens.BaseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.quadrastats.screens.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeBackground"/>
        <activity
            android:name="com.quadrastats.screens.account.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AccountBackground"/>
        <activity
            android:name="com.quadrastats.screens.friends.FriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FriendsBackground"/>
        <activity
            android:name="com.quadrastats.screens.stats.BaseStatsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.quadrastats.screens.stats.recent.RecentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecentBackground"/>
        <activity
            android:name="com.quadrastats.screens.stats.season.SeasonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SeasonBackground"/>
        <activity
            android:name="com.quadrastats.screens.stats.withfriends.WFActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WithFriendsBackground"/>
    </application>
</manifest>
