packages: 
  yum:
    gcc: [] 
    make: []
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-3.2.3.tar.gz
commands:
  redis_build_01:
    command: make distclean
    cwd: /home/ec2-user/redis-3.2.3
  redis_build_02:
    command: make
    cwd: /home/ec2-user/redis-3.2.3
  redis_files_001:
    command: mkdir -p /etc/redis /var/lib/redis /var/redis/6379
    cwd: /home/ec2-user/redis-3.2.3
  redis_files_002:
    command: cp src/redis-server src/redis-cli /user/local/bin
    cwd: /home/ec2-user/redis-3.2.3
  redis_files_003:
    command: cp redis.conf /etc/redis/6379.conf
    cwd: /home/ec2-user/redis-3.2.3
  redis_server:
    command: redis-server redis.conf
