container_commands:
  001_mpm:
    command: cp 00-mpm.conf /etc/httpd/conf.modules.d/
    cwd: /home/ec2-user/portal/backend/apache
  002_config:
    command: cp portal.conf /etc/httpd/conf.d/
    cwd: /home/ec2-user/portal/backend/apache
  003_directory:
    command: mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post
  004_init:
    command: cp init.sh /opt/elasticbeanstalk/hooks/appdeploy/post/001_apache.sh
    cwd: /home/ec2-user/portal/backend/apache
