files:
    "/etc/security/limits.conf":
        content: |
            root	soft	nofile	65535
            root	hard	nofile	65535
            *		soft	nofile	65535
            *		hard	nofile	65535
files:
    "/etc/httpd/conf.modules.d/00-mpm.conf":
        content: |
            LoadModule mpm_worker_module modules/mod_mpm_worker.so
files:
    "/etc/httpd/conf.d/portal.conf":
        content: |
            KeepAlive Off
            MaxConnectionsPerChild 1000
            MaxRequestWorkers 4096
            MaxSpareThreads 2048
            MinSpareThreads 1024
            ServerLimit 64
            StartServers 16
            ThreadLimit 64
            ThreadsPerChild 64

