files:
    "/etc/security/limits.conf":
        content: |
            root	soft	nofile	65535
            root	hard	nofile	65535
            *		soft	nofile	65535
            *		hard	nofile	65535
files:
    "/etc/httpd/conf.modules.d/00-mpm.conf":
        content: |
            LoadModule mpm_worker_module modules/mod_mpm_worker.so
files:
    "/etc/httpd/conf.d/portal.conf":
        content: |
            KeepAlive Off
            MaxConnectionsPerChild 200
            MaxRequestWorkers 256
            MaxSpareThreads 128
            MinSpareThreads 64
            ServerLimit 8
            StartServers 2
            ThreadLimit 32
            ThreadsPerChild 32

