files:
  "/etc/security/limits.conf":
    content: |
      root	soft	nofile	65535
      root	hard	nofile	65535
      *		soft	nofile	65535
      *		hard	nofile	65535
files:
  "/etc/httpd/conf.modules.d/00-mpm.conf":
    content: |
      LoadModule mpm_worker_module modules/mod_mpm_worker.so
files:
  "/etc/httpd/conf.d/portal.conf":
    content: |
      KeepAlive Off
      MaxConnectionsPerChild 1000
      MaxRequestWorkers 1024
      MaxSpareThreads 512 (128*4, 4 max spare processes)
      MinSpareThreads 256 (128*2, 2 min spare processes)
      ServerLimit 8
      StartServers 2
      StartThreads 256
      ThreadLimit 128
      ThreadsPerChild 128 (1 process = 128 threads)
