packages: 
  yum:
    gcc: [] 
    make: []
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-3.2.3.tar.gz
commands:
  001_clean:
    command: make distclean
    cwd: /home/ec2-user/redis-3.2.3
  002_build:
    command: make
    cwd: /home/ec2-user/redis-3.2.3
  003_directories:
    command: mkdir -p /etc/redis /var/lib/redis /var/redis/6379
  004_command_files:
    command: cp src/redis-server src/redis-cli /usr/local/bin
    cwd: /home/ec2-user/redis-3.2.3
  005_config_file:
    command: cp redis.conf /etc/redis/6379.conf
    cwd: /home/ec2-user/portal/backend/redis
  006_init_script:
    command: mv redis-server /etc/init.d
    cwd: /home/ec2-user/portal/backend/redis
  007_init_script:
    command: chmod 755 /etc/init.d/redis-server
  008_restart_server:
    command: service redis-server restart




