commands:
  001_log_file:
    command: sudo touch /var/log/django.log
  002_log_permissions:
    command: sudo chmod 666 /var/log/django.log
container_commands:
  001_migrate:
    command: "python manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: portal/wsgi.py
