packages: 
  yum:
    postgresql94-devel: []
commands:
  001_log_file:
    command: sudo touch /var/log/django.log
  002_log_permissions:
    command: sudo chmod 666 /var/log/django.log
  003_postgresql_permissions:
    command: sudo chmod 777 /opt/python/run/venv/lib64/python3.4/site-packages/
container_commands:
  001_migrate:
    command: "python manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: portal/wsgi.py
