commands:
  001_beat_jobs:
    command: cat celerybeat-jobs >> /opt/python/current/app/portal/settings.py
    cwd: /home/ec2-user/portal/backend/celery/prod
    leader_only: true
  002_directory:
    command: mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post
  003_init:
    command: cp init.sh /opt/elasticbeanstalk/hooks/appdeploy/post/
    cwd: /home/ec2-user/portal/backend/celery/prod
