<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tberroa.portal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Portal.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.tberroa.portal.models.summoner.SummonerDto,
            com.example.tberroa.portal.models.summoner.RunePagesDto,
            com.example.tberroa.portal.models.summoner.RunePageDto,
            com.example.tberroa.portal.models.summoner.RuneSlotDto,
            com.example.tberroa.portal.models.summoner.MasteryPagesDto,
            com.example.tberroa.portal.models.summoner.MasteryPageDto,
            com.example.tberroa.portal.models.summoner.MasteryDto,
            com.example.tberroa.portal.models.stats.RankedStatsDto,
            com.example.tberroa.portal.models.stats.PlayerStatsSummaryListDto,
            com.example.tberroa.portal.models.stats.PlayerStatsSummaryDto,
            com.example.tberroa.portal.models.stats.ChampionsStatsDto,
            com.example.tberroa.portal.models.stats.AggregatedStatsDto,
            com.example.tberroa.portal.models.matchlist.MatchReference,
            com.example.tberroa.portal.models.matchlist.MatchList,
            com.example.tberroa.portal.models.matches.Timeline,
            com.example.tberroa.portal.models.matches.Team,
            com.example.tberroa.portal.models.matches.Rune,
            com.example.tberroa.portal.models.matches.Position,
            com.example.tberroa.portal.models.matches.Player,
            com.example.tberroa.portal.models.matches.ParticipantTimelineData,
            com.example.tberroa.portal.models.matches.ParticipantTimeline,
            com.example.tberroa.portal.models.matches.ParticipantStats,
            com.example.tberroa.portal.models.matches.ParticipantIdentity,
            com.example.tberroa.portal.models.matches.ParticipantFrame,
            com.example.tberroa.portal.models.matches.Participant,
            com.example.tberroa.portal.models.matches.MatchDetail,
            com.example.tberroa.portal.models.matches.Mastery,
            com.example.tberroa.portal.models.matches.Frame,
            com.example.tberroa.portal.models.matches.Event,
            com.example.tberroa.portal.models.matches.BannedChampion" />

        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SplashActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.ProfileActivity"
                  android:parentActivityName="com.example.tberroa.portal.activities.HomeActivity" />


        <service android:name=".services.UpdateService" />
    </application>
</manifest>
